* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 1000vh; /* Ensure body is tall enough to scroll */
  min-width: 200vw; /* Ensure body is wide enough to scroll */
  scrollbar-width: 10px;
}

body::-webkit-scrollbar {
  /*display: none;               /* Chrome, Safari, Edge */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: 10;
}
